.Home-pageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Home-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 36px 0px;
}

.Home-thu {
  flex: 0 0 50%;
}
.Home-thu img {
  display: block;
  height: 400px;
  margin: 0 auto;
}

.Home-rightContainer {
  flex: 0 0 50%;
}

.Home-rightContainer img {
  height: 200px;
  width: auto;
}
