#nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
}

#nav li a {
  display: block;
  padding: 8px 45px;
  text-decoration: none;
  font-weight: bold;
  color: var(--red);
}
