html,
body {
  height: 100%;
  overflow: hidden;
}

.pageLayout-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
}

.left {
  flex: 2;
  height: 100%;
  text-align: center;
  padding: 50px 36px;
}

.right {
  flex: 5;
  flex-direction: column;
  width: 70%;
  flex-wrap: wrap;
  background-image: linear-gradient(white, #f6f3e4);
  overflow: auto;
  height: 100vh;
  text-align: center;
}

.img {
  max-width: 50%;
  padding: 24px;
  object-fit: contain;
}
