.header {
  font-weight: bold;
  font-size: clamp(16px, 4vw, 36px);
  color: #1b1e2e;
}

.body {
  font-size: clamp(12px, 1.5vw, 18px);
  line-height: 1.4;
  color: #1b1e2e;
}

.caption {
  font-size: 12px;
  line-height: 1.4;
  color: #1b1e2e;
}
